/* styles.css */

.drawerContainer {
    border-radius: 12px;
    overflow-x: hidden;
    backdrop-filter: 'blur(10px)';
    
}

.drawerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.drawerContent {
    padding: 16px;
}

.drawerIcon {
    color: #424242;
    font-size: 32px;

}

.drawerItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    
}

.drawerItem:hover {
    background: rgba(0, 0, 0, 0.05);
    margin-left: 10px;
    

}

.drawerItemIcon {
    color: #1e1e1e;
    transition: color 1.5s ease; 
    
}

.subtitle-drawer{
    font-weight: 700;
    font-size: 50px;

}

.skills-items:hover{
    background: rgba(0, 0, 0, 0.05);


}

.drawerFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #f0f0f0;
    margin-top: 32px;
    height: 20px;
}